

<section class="panel panel-default page-about">
  <div class="panel-heading">
    <h1 class="panel-title">About this app</h1>
  </div>
  <div class="panel-body">
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent lacus ligula, vestibulum et tincidunt ac, euismod vel metus. Curabitur efficitur imperdiet elit, ut volutpat augue bibendum suscipit. Donec malesuada ante lorem, eget gravida libero auctor eu. Ut feugiat dui sapien, vel euismod metus aliquam eget. Pellentesque ac aliquet est. Duis a ipsum lacus. Phasellus non tincidunt nibh. Suspendisse et sem aliquam, dignissim lorem at, vehicula lacus. Quisque quis odio tristique, feugiat ligula et, pharetra sapien. Phasellus volutpat volutpat magna id bibendum.
    </p>

    <p>
      Praesent fringilla egestas felis, pulvinar scelerisque lorem sollicitudin in. Ut ac sem pellentesque, efficitur tellus in, congue enim. Donec turpis magna, consectetur ut eleifend sed, iaculis a dui. Curabitur sit amet dolor velit. Nulla quis commodo libero. Nam tempor, velit vel malesuada vulputate, mi dolor fringilla mauris, id eleifend purus nisi non sapien. Maecenas turpis neque, faucibus sit amet ligula at, condimentum feugiat risus. Vivamus non risus a lorem suscipit tincidunt id a dui. Quisque iaculis efficitur sem sit amet molestie.
    </p>

    <h2>
      {{ title }}
    </h2>

    <div>
      Chose your destiny: {{ name }}
    </div>

    <p>
      <span class="btn btn-default" (click)="changeName()" >klikni me</span>
    </p>
  </div>
</section>