

<div class="col-md-10 col-md-offset-1">

  <section *ngFor="let user of editUser" class="panel panel-default page--edit-user">
    <div class="panel-heading">
      <h2 class="panel-title">Edit user {{ user.name }}</h2>
    </div>
    <div class="panel-body">

      <form name="form" (ngSubmit)="f.form.valid && edit()" #f="ngForm" novalidate>

        <div *ngIf="currentUser.uid == user.uid" class="form-group" [ngClass]="{ 'has-error': f.submitted && !currentpass.valid }">
          <label for="currentpass">Current pass</label>
          <input value="" type="password" class="form-control" name="currentpass" [(ngModel)]="user.currentpass" #currentpass="ngModel" required />
          <div *ngIf="f.submitted && !currentpass.valid" class="help-block">Current password is required</div>
        </div>

        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !newpass.valid }">
          <label for="newpass">New pass</label>
          <input value="" type="password" class="form-control" name="newpass" [(ngModel)]="user.newpass" #newpass="ngModel" />
          <div class="help-block no-error">Left blank if you don't want to change password</div>
        </div>

        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !name.valid }">
          <label for="name">Username</label>
          <input value="{{ user.name }}" type="text" class="form-control" name="name" [(ngModel)]="user.name" #name="ngModel" required />
          <div *ngIf="f.submitted && !name.valid" class="help-block">Username is required</div>
        </div>

        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !email.valid }">
          <label for="lastName">Email</label>
          <input type="text" class="form-control" name="email" [(ngModel)]="user.email" #email="ngModel" required pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" />

          <div class="help-block" *ngIf="f.submitted && !email.valid || !email.untouched">
            <div  *ngIf="email.errors && email.errors.required">
              Email is required
            </div>
            <div  *ngIf="email.errors && email.errors.pattern">
              Email is invalid
            </div>
          </div>
        </div>

        <div class="form-group">
          <button [disabled]="loading" class="btn btn-primary">Save</button>
          <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
          <a [routerLink]="['/home']" class="btn btn-link">Cancel</a>
        </div>

      </form>

    </div>
  </section>
</div>
