
<div class="panel panel-default page-users">

  <div class="panel-heading">

    <h2>Hi {{currentUser.firstName}}!</h2>

  </div>

  <div class="panel-body">

    <p>You're logged in with Angular 2!!</p>
    <h3>All registered users:</h3>

    <table class="table">
      <thead>
        <tr>
          <th>Username</th>
          <th>Name/surname</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users">
          <td>
            {{user.username}}
          </td>
          <td>
            {{user.firstName}}
            {{user.lastName}}
          </td>
          <td>
            <a class="btn btn-danger" (click)="deleteUser(user.id)">Delete</a>
          </td>
        </tr>
      </tbody>
    </table>

  </div>

  <div class="panel-footer">
    <a class="btn btn-default" [routerLink]="['/login']">Logout</a>
  </div>

</div>