{{ users.test }}
<div class="panel panel-default page-users">

  <div class="panel-heading">

    <h2>Hi {{currentUser.name}}!</h2>

  </div>

  <div class="panel-body">

    <p>You're logged in with Angular 2!!</p>

    <ul class="list-group">
      <li class="list-group-item">UID: {{ currentUser.uid }}</li>
      <li class="list-group-item">CSRF token: {{ currentUser.csrf_token }}</li>
      <li class="list-group-item">Logout token: {{ currentUser.logout_token }}</li>

      <li class="list-group-item active">
        <p>Role:</p>
        <ul class="list-group">
          <li class="list-group-item" *ngFor="let role of currentUser.roles">
            {{ role }}
          </li>
        </ul>
      </li>
    </ul>

  </div>

  <div class="panel-footer">
    <a class="btn btn-default" [routerLink]="['/login']">Logout</a>
  </div>

</div>

<div class="panel panel-default page-users-all">
  <div class="panel-heading">
    <h2>All registered users:</h2>
  </div>

  <div class="panel-body">
    <table *ngIf="allUserStatus.status === true; else elseBlock" class="table">
      <thead>
      <tr>
        <th>uid</th>
        <th>Username</th>
        <th>Language</th>
        <th>Status</th>
        <th>Last login</th>
        <th>Action</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let user of allUser | slice:1">
        <td>{{ user.uid }}</td>
        <td [innerHTML]="user.name"></td>
        <td>{{ user.preferred_langcode }}</td>
        <td>
          <span *ngIf="user.status == 1; else elseBlock">Active</span>
          <ng-template #elseBlock>blocked</ng-template>
        </td>
        <td>
          {{ user.login * 1000 | date }}
        </td>
        <td>
          <a *ngIf="user.uid != 1" class="btn btn-danger" (click)="deleteUser(user.uid)">Delete</a>
        </td>
      </tr>
      </tbody>
    </table>
    <ng-template #elseBlock><div class="alert alert-warning">{{ allUserStatus.message }}</div></ng-template>
  </div>
</div>